.profile {
  margin: 39px 200px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  max-width: 882px;
}
@media screen and (max-width: 1279px) {
  .profile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin: 39px 19px 36px;
  }
}
