.header__burger-email {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    visibility: hidden;
  }
  
  @media (min-width: 480px) {
    .header__burger-email {
      visibility: inherit;
    }
  }