.popup__btn_action_submit {
  height: 50px;
  margin-top: 0px;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.5s ease;
}
.popup__btn_action_submit:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px) {
  .popup__btn_action_submit {
    height: 46px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 17px;
  }
}
