.profile__author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  margin: 27px 17px 16px 0;
  max-height: 48px;
  transition: all 0.5s ease-out;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .profile__author {
    margin: 0;
    margin-top: 4px;
    font-size: 27px;
    line-height: 33px;
  }
}
